#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.App {
  text-align: center;
  /*margin: 20px;*/
}

.gallery-container {
  display: flex;
  flex-direction: column;
  gap: 60px;
  /*画像間の間隔*/
  align-items: flex-center;
  /*center→flex-centerでちゃんと中央揃えになった*/
  flex-wrap: wrap;
  /*padding: 10px;*/
  padding-top: 60px;
  /*上部の余白(一番上の画像との)*/
  background-color: rgba(163, 214, 210, 0);
  /*rgb(95, 160, 152);*/
  height: 900vh;
  width: 100%;
}

/*gallery-itemは、gallery-containerの子要素*/
.gallery-item {
  position: relative;
  overflow: hidden;
  border: 4px solid #ffffff;
  border-radius: 4px;
  /*角丸くする*/
  width: 300px;
  height: 450px;
  /*aspect-ratio: 16 / 9;*/
  cursor: pointer;
  display: block;
}

.gallery-item img,
.gallery-item video {
  width: 100%;
  height: 100%;
  /* autoから100%に変更して、親要素の高さに合わせる */
  object-fit: cover;
  display: block;
  margin: auto;
  /* 水平方向の中央配置を強制 */
}

.gallery-item-title {
  font-family: "Ubuntu Sans Mono", monospace;
  position: relative;
  text-align: flex-center;
  padding: 30px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  text-decoration: underline;
  cursor: pointer;
  font-size: 20px;
  /* Specify the font size */
}


.description-box {
  position: fixed;
  top: 18%;
  left: 72%;
  width: 25%;
  height: 50%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0);
  color: #000000aa;
  text-align: center;
  font-size: 22px;
  /*box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.5);*/
  z-index: 1000;
  overflow: hidden;
}

.description-box .text-content {
  /*font-family: "Reddit Sans Condensed", sans-serif;*/
  /*font-family: "Ma Shan Zheng", cursive;*/
  max-height: 100%;
  /*overflow-y: auto;*/
}

.description-box::after {
  content: "";
  display: block;
  position: absolute;
  /* 追加: 位置を絶対位置に設定 */
  bottom: 0;
  /* 下に固定 */
  left: 0;
  /* 左から0 */
  width: 100%;
  /* 幅を親要素に合わせる */
  border-bottom: 2px solid black;
  /* 下線の太さと色 */
}

.button-container {
  text-align: center;
  margin-bottom: 10px;
}

.language-button {
  background-color: #ffffff;
  color: #000000aa;
  border: none;
  border-radius: 20px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 12px;
  margin: 0 18px;
}

.language-button:hover {
  background-color: #e0e0e0;
  /* ホバー時の背景色 */
}

.navigation-bar {
  position: fixed;
  bottom: 0;
  width: 1200px;
  display: flex;
  justify-content: space-around;
  background-color: #ffffff;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.navigation-bar a img {
  width: 50px;
  height: 50px;
}


@media screen and (max-width: 480px) {

  .gallery-container {
    gap: 30px;
    padding-top: 20px;
    height: 1000vh;
    width: 100%;
  }

  .gallery-item {
    width: 180px;
    height: 270px;
  }

  .gallery-item-title {
    font-family: "Ubuntu Sans Mono", monospace;
    position: relative;
    /*text-align: center;*/
    right: 10%;
    padding: 30px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    text-decoration: underline;
    cursor: pointer;
    font-size: 18px;
    /* Specify the font size */
  }

  .description-box {
    top: 65%;
    left: 50%;
    width: 100%;
    height: 80%;
    transform: translateX(-50%);
    background-color: #b8b8b8d7;
    font-size: 16px;
    /*スマホ版の文字サイズ*/
    box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.5);
    overflow-y: auto;
    bottom: 0;
    /*top: auto;*/
  }

  .button-container {
    text-align: center;
    margin-bottom: 10px;
  }
}

.fade-text {
  display: block;
  color: transparent;
  font-size: 30px;
  line-height: 1.4;
  margin-bottom: 80px;
  background-clip: text;
  background-size: 300% 300%;
  transition: all 2.4s ease-out;

  &.to__right {
    background-image: linear-gradient(to right, #fff 30%, rgba(255, 255, 255, 0) 60%);
    background-position: left 100% center;
    transform: translate(-20px, 0);

    &.reveal {
      transform: translate(0, 0);
      background-position: left 0% center;
    }
  }

  &.to__left {
    background-image: linear-gradient(to left, #fff 30%, rgba(255, 255, 255, 0) 60%);
    background-position: right 100% center;
    transform: translate(20px, 0);

    &.reveal {
      transform: translate(0, 0);
      background-position: right 0% center;
    }
  }

  &.to__top {
    background-image: linear-gradient(to top, #fff 30%, rgba(255, 255, 255, 0) 50%);
    background-position: center 0;
    transform: translate(0, 20px);

    &.reveal {
      transform: translate(0, 0);
      background-position: center 100%;
    }
  }

  &.to__bottom {
    background-image: linear-gradient(to bottom, #fff 30%, rgba(255, 255, 255, 0) 50%);
    background-position: center 100%;
    transform: translate(0, -20px);

    &.reveal {
      transform: translate(0, 0);
      background-position: center 0%;
    }
  }
}

@keyframes toRight {
  100% {
    transform: translate(0, 0);
    background-position: left 0% center;
  }
}

@keyframes toLeft {
  100% {
    transform: translate(0, 0);
    background-position: right 0% center;
  }
}

@keyframes toBottom {
  100% {
    transform: translate(0, 0);
    background-position: center 0%;
  }
}

@keyframes toTop {
  100% {
    transform: translate(0, 0);
    background-position: center 100%;
  }
}

.fadeIn {
  opacity: 0;
  color: #000000aa;
  animation: fadeInAnimation 1.5s forwards;
  animation-delay: calc(var(--animation-order) * 0.7s);
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}


/*
.gallery-item2 {
  position: relative;
  overflow: hidden;
  border: 2px solid #ddd;
  transition: transform 0.2s;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.media-container2 {
  position: relative;
  width: 100%;
  height: 100%;
}

.gallery-image2 {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: transform 0.2s;
}

.hover-info2 {
  position: absolute;
  margin-right: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  opacity: 0.9;
  padding: 10px;
  box-sizing: border-box;
  transition: opacity 0.2s;
}

.gallery-item2:hover {
  transform: scale(1.05);
}

.gallery-item2:hover .gallery-image {
  transform: scale(1.2);
}

.fukidashi2 {
  display: block;
  width: 200px;
  position: absolute;
  top: 50%;
  left: 100%;
  margin-left: 10px;
  padding: 16px;
  border-radius: 5px;
  background: #33cc99;
  color: #fff;
  font-weight: bold;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-50%);
  transition: opacity 0.3s, visibility 0.3s;
}


.fukidashi2::after {
  position: absolute;
  width: 0;
  height: 0;
  top: 50%;
  left: -10px;
  margin-top: -10px;
  border: solid transparent;
  border-color: rgba(51, 204, 153, 0);
  border-right-color: #33cc99;
  border-width: 10px;
  pointer-events: none;
  content: " ";
}

.gallery-item2:hover .fukidashi {
  visibility: visible;
  opacity: 1;
}*/