#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.App {
  text-align: center;
  margin: 20px;
}

.gallery-container {
  display: flex;
  flex-direction: column;
  gap: 60px;
  /*画像間の間隔*/
  align-items: center;
  flex-wrap: wrap;
  /*padding: 10px;*/
  padding-top: 60px;
  /*上部の余白(一番上の画像との)*/
  background-color: rgb(95, 160, 152);
  height: 290vh;
  width: 90vw;
}

/*gallery-itemは、gallery-containerの子要素*/
.gallery-item {
  position: relative;
  overflow: hidden;
  /*border: 3px solid #7a7a7a;*/
  /*border-radius: 8px;*/
  /*角丸くする*/
  width: 300px;
  height: 450px;
  /*aspect-ratio: 16 / 9;*/
  cursor: pointer;
  display: block;
}

.gallery-item img,
.gallery-item video {
  width: 100%;
  height: auto;
  object-fit: cover;
  /*border-radius: 8px;*/
}

.description-box {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.9);
  color: #61dafbaa;
  text-align: center;
  font-size: 16px;
  box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}


.gallery-item2 {
  position: relative;
  overflow: hidden;
  border: 2px solid #ddd;
  transition: transform 0.2s;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.media-container2 {
  position: relative;
  width: 100%;
  height: 100%;
}

.gallery-image2 {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: transform 0.2s;
}

.hover-info2 {
  position: absolute;
  margin-right: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  opacity: 0.9;
  padding: 10px;
  box-sizing: border-box;
  transition: opacity 0.2s;
}

.gallery-item2:hover {
  transform: scale(1.05);
}

.gallery-item2:hover .gallery-image {
  transform: scale(1.2);
}

.fukidashi2 {
  display: block;
  width: 200px;
  position: absolute;
  top: 50%;
  left: 100%;
  margin-left: 10px;
  padding: 16px;
  border-radius: 5px;
  background: #33cc99;
  color: #fff;
  font-weight: bold;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-50%);
  transition: opacity 0.3s, visibility 0.3s;
}


.fukidashi2::after {
  position: absolute;
  width: 0;
  height: 0;
  top: 50%;
  left: -10px;
  margin-top: -10px;
  border: solid transparent;
  border-color: rgba(51, 204, 153, 0);
  border-right-color: #33cc99;
  border-width: 10px;
  pointer-events: none;
  content: " ";
}

.gallery-item2:hover .fukidashi {
  visibility: visible;
  opacity: 1;
}